
#result {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-shadow: 1px 1px #fff;
}
.camera{

    display: flex;
    align-items: center;
    margin-left: 41px;
    position: relative;
    margin-top: 25px;
    height: 158px;
    width: 184px;
    border-radius: 10px;
    border: 1px solid #2c2c2c;
    background-color: #cccc;
    z-index: 0;

}
.camera i{
    position: relative;
    font-size: 50px;
    margin-left: 35%;
    z-index: 1;
}
#interactive{
    z-index: 2;
}