<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e7f892fa06.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/main-style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 h-100">
                <ul>
                    <div class="btnSide-container">
                        <i class="fa-regular fa-credit-card"></i>
                        <li><a href="#">Creditos</a></li>
                    </div>
                    <div class="btnSide-container">
                        <i class="fa-solid fa-user"></i>
                        <li><a href="#">Clientes</a></li>
                    </div>
                    <div class="btnSide-container">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        <li><a href="#">Productos</a></li>
                    </div>
                    <div class="btnSide-container">
                        <i class="fa-solid fa-book"></i>
                        <li><a href="#">Bitacora</a></li>
                    </div>

                </ul>

            </nav>

            <div class="col-md-11" id="contenedor">
                <div class="col-lg-6 col-md-offset-3">
                    <input type="text" name="" id="search" placeholder="Buscar">
                </div>
                

                <div class="col-lg-6 col-md-offset-1 tabla-container">
                    <div class="label-button">
                        <a href="#" id="CrearUsuario" >Crear nuevo usuario</a>
                    </div>
                    <table id="table-product">
                        <tr>
                            <th>Cliente</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Adeudo Total</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <td>123321</td>
                            <td>Martillo para carpintero</td>
                            <td>NA</td>
                            <td>$180.00</td>
                            <td>$186.00</td>
                        </tr>
                        <tr>
                            <td>123321</td>
                            <td>Martillo para carpintero</td>
                            <td>NA</td>
                            <td>$180.00</td>
                            <td>$186.00</td>
                        </tr>
                        <tr>
                            <td>123321</td>
                            <td>Martillo para carpintero</td>
                            <td>NA</td>
                            <td>$180.00</td>
                            <td>$186.00</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>


</body>

</html>