.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    color: #f2f2f2;
    height: 63px;
    border-radius: 18px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.btn-pedido {
    background-color: #D46641;
    width: 230px;
    text-decoration: none;
}
.btn-pedido:hover{
    background-color: #9e4c31;
    color: #f2f2f2;
    cursor: pointer;

}

.btn-imprimir {
    background-color: #637C98;
    width: 154px;
    text-decoration: none;
}
.btn-imprimir:hover{
    background-color: #3d4d5f;

}
