.label-button{
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}       

.label-button a{
    text-decoration: underline;
    color: #DD820D;

}