.options-butons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.options-butons a{
    font-size: 20px;

}
.options-butons i{
    color: #2c2c2c;
    margin-left: 50px;
    font-size: 45px;
    width: 40px;
}
.container-left-btn{
    display:flex;

}
.options-butons button{
    border: none;
    background: none;
}
#confirmar{
    display: inline;
    height: 53px;
    font-size: 24px;
}
