.Top-box-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
.total-box {
    border-radius: 10px;
    background-color: #F2F2F2;
    width: 380px;
    height: 130px;
    padding-top: 10px;
}

.total-box span {
    font-size: 30px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title-container h2 {
    font-size: 18px;
    color: #5a5a5a;
    font-weight: 300;
}