<dialog id="new-product-dialog" style="width: 32.72%; height: 76.43%; border-radius: 15px;">
    <form>
        <button id="close" style="border-radius: 15px; background-color:white; margin-left: 90%;" type="button"><i
                class="fa-solid fa-x"></i></button>
        <div style="background-color: whitesmoke; box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1)">
            <h3 style="margin-left: 32%;">Nuevo producto</h3>
            <div class="form-group">
                <label for="product-PreComp">Nombre del cliente:</label>
                <input class="textInput" type="text" id="input-nombre-cliente" name="product-PreComp"><br><br>
            </div>
            <div class="form-group">
                <label for="product-PreComp">Direccion:</label>
                <input class="textInput" type="text" id="input-direccion" name="product-PreComp"><br><br>
            </div>
            <div class="form-group">
                <label for="product-PreComp">Telefono:</label>
                <input class="textInput" type="text" id="input-telefono" name="product-PreComp"><br><br>
            </div>
            <div class="form-group">
                <label for="product-PreComp">Correo electronico:</label>
                <input class="textInput" type="email" id="input-correo" name="product-PreComp"><br><br>
            </div>
            <div class="form-group">
                <label for="product-PreComp">Limite de credito:</label>
                <input class="textInput" type="text" id="input-limite" name="product-PreComp"><br><br>
            </div>
              
            <button id="btn-cliente" style="display: inline-flex;background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 32%;"> <i class="fa-sharp fa-solid fa-rectangle-history-circle-plus"></i>Agregar
                producto</button>
        </div>
    </form>
</dialog>
<div class="container">
    <div class="search-input-box">
        <input type="text" placeholder="¿Qué quieres buscar?" />
        <a href="#" target="_blank">
            <i class="fa-solid fa-magnifying-glass icon"> </i>
        </a>
        <ul class="container-suggestions">
            <li>sugerencia 1</li>
            <li>sugerencia 2</li>
            <li>sugerencia 3</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="lbl-container col-md-3 offset-md-1">
        <a id="Lbl-crear-cliente">Crear nuevo cliente</a>
    </div>
    <div class="col-md-4">
        <h2>Deuda Total</h2>
        <h2 id="Lbl-deudaCount"></h2>
        <h2>Abono</h2>
        <input type="text" name="" id="input-deuda">
    </div>
</div>


<div class="row">
    <div class="col-md-9 " style="margin-left: 11%; margin-top: 5%;">
        <table id="datatable_clientes" class="table table-striped table-bordered">
            <thead>
                <tr>
                  <th>Folio</th>
                  <th>Fecha</th>
                  <th>Adeudo</th>
                  <th>Total</th>
                </tr>
              </thead>

            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</div>
<div class="row options-butons col-md-11">
        <div class="container-left-btn col-md-3">
            <button>
                <i class="fa-solid fa-trash"></i>
            </button>
            <button>
                <i class="fa-solid fa-camera"></i>
            </button>
        </div>
        <div class="container-right-btn col-md-6">
            <a href="" class="btn btn-danger" id="eliminar">Eliminar</a>
            <a  class="btn btn-success" id="btn-abonar"><i class="fa-solid fa-circle-arrow-right"></i>Abonar</a>
        </div>
</div>