<div class="container">
    <div class="search-input-box">
        <input type="text" placeholder="¿Qué quieres buscar?" />
        <a href="#" target="_blank">
            <i class="fa-solid fa-magnifying-glass icon"> </i>
        </a>
        <ul class="container-suggestions">
            <li>sugerencia 1</li>
            <li>sugerencia 2</li>
            <li>sugerencia 3</li>
        </ul>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-8 tabla-container col-md-offset-1">
        <table id="table-product">
            <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Peso</th>
                <th>Precio</th>
                <th>Importe</th>
            </tr>
            <tr>
                <td>123321</td>
                <td>Martillo para carpintero</td>
                <td>NA</td>
                <td>$180.00</td>
                <td>$186.00</td>
            </tr>
            <tr>
                <td>123321</td>
                <td>Martillo para carpintero</td>
                <td>NA</td>
                <td>$180.00</td>
                <td>$186.00</td>
            </tr>
            <tr>
                <td>123321</td>
                <td>Martillo para carpintero</td>
                <td>NA</td>
                <td>$180.00</td>
                <td>$186.00</td>
            </tr>

        </table>
    </div>
</div>
<div class="row options-butons col-md-11">
        <div class="container-left-btn col-md-3">
            <button>
                <i class="fa-solid fa-trash"></i>
            </button>
            <button>
                <i class="fa-solid fa-camera"></i>
            </button>
        </div>
        <div class="container-right-btn col-md-6">
            <a href="" class="btn btn-danger" id="eliminar">Eliminar</a>
            <a href="#" class="btn btn-success" id="confirmar"><i class="fa-solid fa-circle-arrow-right"></i>Finalizar compra</a>
        </div>
</div>