<div class="row">
    <div class="col-md-3 nav-top">
        <ul>
            <li class="li-top-title"><a href="" class="title-nav">Credito </a></li>
            <li class="li-top-title"><a href="" class="title-nav">Historial</a></li>
        </ul>

    </div>
    <div class="col-lg-6">
        <input type="text" name="" id="search" placeholder="Buscar">
    </div>
</div>

<div class="Top-box-container col-md-11">
    <div class="col-md-3 total-box">
        <div class="title-container">
            <span>Total</span>
            <h2>Cli. Alozo lopez mateo</h2>
        </div>
        <div class="line"></div>
    </div>
    <div class="col-md-3 col-md-offset-1 total-box">
        <span>Codigo</span>
        <div class="line"></div>
        <p id="result"></p>
    </div>
    <div class="col-md-3 camera">
        <i class="fa-solid fa-camera"></i>
        <div id="interactive" class="viewport"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-8 tabla-container col-md-offset-1">
        <table id="table-product">
            <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Peso</th>
                <th>Precio</th>
                <th>Importe</th>
            </tr>
            <tr>
                <td>123321</td>
                <td>Martillo para carpintero</td>
                <td>NA</td>
                <td>$180.00</td>
                <td>$186.00</td>
            </tr>
            <tr>
                <td>123321</td>
                <td>Martillo para carpintero</td>
                <td>NA</td>
                <td>$180.00</td>
                <td>$186.00</td>
            </tr>
            <tr>
                <td>123321</td>
                <td>Martillo para carpintero</td>
                <td>NA</td>
                <td>$180.00</td>
                <td>$186.00</td>
            </tr>

        </table>
    </div>
</div>
<div class="row options-butons col-md-11">
        <div class="container-left-btn col-md-3">
            <button>
                <i class="fa-solid fa-trash"></i>
            </button>
            <button>
                <i class="fa-solid fa-camera"></i>
            </button>
        </div>
        <div class="container-right-btn col-md-6">
            <a href="" class="btn btn-danger" id="eliminar">Eliminar</a>
            <a href="#" class="btn btn-success" id="confirmar"><i class="fa-solid fa-circle-arrow-right"></i>Finalizar compra</a>
        </div>
</div>
