<style>
    .container {
        margin-top: 1%;
    }

    .lbl-container {
        margin-top: 1%;
        margin-left: 2%;
        display: flex;
        justify-content: space-between;
    }
    .tabla-scrollable {
    max-height: 6*40px;
    /* 6 filas, 40px de alto por fila (ajustar según el tamaño deseado) */
    overflow-y: scroll;
}
</style>
<div class="row">
    <div class="lbl-container  col-md-2">
        <a href="#" id="LblCrear">Credito</a>
        <a href="#" id="LblCrear">Contado</a>
    </div>
    <div class="container col-md-7 col-offset-1">
        <div class="search-input-box">
            <input type="text" placeholder="¿Qué producto buscas?" />
            <a href="#" target="_blank">
                <i class="fa-solid fa-magnifying-glass icon"> </i>
            </a>
            <ul class="container-suggestions">
                <li>sugerencia 1</li>
                <li>sugerencia 2</li>
                <li>sugerencia 3</li>
            </ul>
        </div>
    </div>
</div>

<div class="Top-box-container col-md-11">
    <div class="col-md-3 total-box">
        <div class="title-container">
            <span>Total</span>
            <h2>Cli. Alozo lopez mateo</h2>
        </div>
        <div class="line"></div>
    </div>
    <div class="col-md-3 col-md-offset-1 total-box">
        <span>Codigo</span>
        <input type="text" name="" id=" " >
        <div class="line"></div>
        <p id="result"></p>
    </div>
    <div class="col-md-3 camera">
        <i class="fa-solid fa-camera"></i>
        <div id="interactive" class="viewport"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-8 tabla-container">
        <div class="tabla-scrollable">
          <table id="table" class="table table-striped">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Peso</th>
                <th>Precio</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody id="table-body">
      
            </tbody>
          </table>
        </div>
      </div>
      
</div>
    <div class="options-butons">
        <div class="container-left-btn col-md-3">
            <button id="eliminar">
                <i class="fa-solid fa-trash"></i>
            </button>
            <button>
                <i class="fa-solid fa-camera"></i>
            </button>
        </div>
        <div class="container-right-btn col-md-6">
            <a href="#" class="btn btn-success" id="confirmar"><i class="fa-solid fa-circle-arrow-right"></i>Finalizar
                compra</a>
        </div>
    </div>
