<h1>deuda</h1>
<div class="row">
    <a href="" id="CrearUsuario">Crear nuevo usuario</a>
</div>
<div class="row">
    <div class="TableContainer">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>folio</th>
                    <th>fecha</th>
                    <th>cliente</th>
                    <th>total</th>
                    <th>adeudo</th>
                </tr>
            </thead>
            <tbody id="table">
            </tbody>
        </table>
    </div>
    <label for="">folio</label>
    <input type="text" name="" id="folio">
    <label for="">fecha</label>
    <input type="text" name="" id="fecha" >
    <label for="">cliente</label>
    <input type="text" name="" id="cliente">
    <label for="">total</label>
    <input type="text" id="total">
    <label for="">adeudo</label>
    <input type="text" id="adeudo">

    <button     id="Agregar">Agregar</button>
    <button     id="Editar">Editar</button>
    <button     id="Buscar">Buscar</button>
    <button     id="Eliminar">Eliminar</button>

</div>