<h1>entrada</h1>
<div class="row">
    <a href="" id="CrearUsuario">Crear nuevo usuario</a>
</div>
<div class="row">
    <div class="TableContainer">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>codigo</th>
                    <th>folio</th>
                    <th>unidad</th>
                    <th>cantidad</th>
                    <th>importe</th>
                </tr>
            </thead>
            <tbody id="table">
            </tbody>
        </table>
    </div>
    <label for="">codigo</label>
    <input type="text" name="" id="codigo" >
    <label for="">folio</label>
    <input type="text" name="" id="folio">
    <label for="">unidad</label>
    <input type="text" name="" id="unidad">
    <label for="">cantidad</label>
    <input type="text" id="cantidad">
    <label for="">importe</label>
    <input type="text" id="importe">

    <button     id="Agregar">Agregar</button>
    <button     id="Editar">Editar</button>
    <button     id="Buscar">Buscar</button>
    <button     id="Eliminar">Eliminar</button>

</div>