<h1>Inventario</h1>
<div class="row">
    <a href="" id="CrearUsuario">Crear nuevo usuario</a>
</div>
<div class="row">
    <div class="TableContainer">
        <table class="table table-striped table-bordered" id="datatable_producto">
            <thead class="thead-light">
                <tr>
                    <th>codigo</th>
                    <th>descripcion</th>
                    <th>precio_compra</th>
                    <th>precio_venta</th>                 
                </tr>
            </thead>
            <tbody id="table">
            </tbody>
        </table>
    </div>
    <label for="">codigo</label>
    <input type="text" name="" id="codigo" >
    <label for="">cantidad</label>
    <input type="text" name="" id="cantidad">

    <button     id="Agregar">Agregar</button>
    <button     id="Editar">Editar</button>
    <button     id="Buscar">Buscar</button>
    <button     id="Eliminar">Eliminar</button>

</div>