html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
@import url(./Menu/side-bar.css);
@import url(./Carrito/main-Carrito.css);
@import url(./Usuarios/main-Usuarios.css);
@import url(./Bitacora/main-Bitacora.css);
@import url(./Inventario/inventario-Main.css);
@import url(./searchBar.css);